body{
    background-color: aqua;
}

div{
    margin:100px;
    position: relative;
    overflow: hidden;
}

p{
    color:black;
    line-height: 80px;
    text-align: center;
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0px;
    border-top:2px solid black;
}

.next{
position: absolute;
top:100px;
}

.animate{
    transition: all 0.5s;
    top:0px;

}

